@page "/"
@using Service.Contracts
@using Shared.DataTransferObjects

<h2>Demo</h2>

<FluentDataGrid Items="_recipes" ShowHover="true">
    <PropertyColumn Property="@(r => r.Name)" Title="Name" />
    <PropertyColumn Property="@(r => r.Description)" Title="Description" />
</FluentDataGrid>

<FluentTextField @bind-Value=recipeForCreation.Name Placeholder="Name"></FluentTextField>
<FluentTextField @bind-Value=recipeForCreation.Description Placeholder="Description"></FluentTextField>

<FluentButton OnClick="CreateRecipe">Create Recipe</FluentButton>

<p>@_currentDirectory</p>

@code {
    [Inject]
    public IServiceManager Service { get; set; } = default!;

    private IQueryable<RecipeDto>? _recipes;    

    private RecipeForCreationDto recipeForCreation = new();

    private string? _currentDirectory;

    protected override async Task OnInitializedAsync()
    {
        await LoadRecipesAsync();
    }

    private async Task CreateRecipe()
    {
        // Add the materials to the recipe for creation
        
        await Service.RecipeService.CreateRecipeAsync(recipeForCreation);        
        await LoadRecipesAsync(); // Reload recipes to reflect the new one
        ClearData();
    }    

    private async Task LoadRecipesAsync()
    {
        var recipes = await Service.RecipeService.GetRecipesAsync();

        _recipes = recipes.AsQueryable();

        var dir = Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData);
        _currentDirectory = dir ?? "Unknown directory";
    }

    private void ClearData()
    {
        recipeForCreation = new RecipeForCreationDto();
    }
}
