@page "/recipes/recipeeditor"

<FluentGrid AdaptiveRendering="true">
    <FluentGridItem xs="12">
        <h1>Recipe Editor</h1>
        <p>This is a simple recipe editor page.</p>
    </FluentGridItem>
</FluentGrid>
<FluentGrid AdaptiveRendering="true">
    <FluentGridItem xs="9">
        <p>Left panel</p>
    </FluentGridItem>

    <FluentGridItem xs="3">
        <p>Right panel</p>
    </FluentGridItem>
</FluentGrid>