@page "/recipes/recipeeditor"

<FluentGrid AdaptiveRendering="true">
    <FluentGridItem xs="12">
        <h1>Recipe Editor</h1>
        <p>This is a simple recipe editor page.</p>
    </FluentGridItem>
</FluentGrid>

<FluentGrid AdaptiveRendering="true">
    <FluentGridItem xs="9">
        <FluentCard>
            <FluentLabel Typo="Typography.Header">Recipe info</FluentLabel>
            <FluentStack Orientation="Orientation.Vertical" Style="margin-top: 12px;">
                <FluentTextField @bind-Value="RecipeForCreation.Name" Label="Recipe Name" Placeholder="Enter recipe name" />
                <FluentTextField @bind-Value="RecipeForCreation.Description" Label="Description" Placeholder="Enter recipe description" />
                <FluentButton Appearance="Appearance.Accent" OnClick="CreateRecipeAsync" Disabled="_recipeCreated">Save</FluentButton>
            </FluentStack>
        </FluentCard>            
    </FluentGridItem>

    <FluentGridItem xs="3">
        <FluentLabel Typo="Typography.Header">Aggregates</FluentLabel>
        @foreach (var bin in HotBins)
        {
            <FluentLabel>@bin.Name</FluentLabel>
            <FluentNumberField @bind-Value="bin.Take" Label="Take" />
        }        
    </FluentGridItem>
</FluentGrid>